<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testSuite">
    <test name="testModule">
        <classes>
            <class name="com.tester.extend.demo.TestMethodsDemo">
                <!--<methods>-->
                    <!--<include name="test" />-->
                    <!--<include name="test1" />-->
                    <!--<include name="test2" />-->
                    <!--<include name="test3" />-->
                    <!--<include name="logDemo" />-->
                <!--</methods>-->
            </class>
        </classes>
    </test>

    <!--测试报告工具类来，监听测试用例生成测试报告 -->
    <listeners>
        <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter" />-->
        <!--<listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListenerOld"/>-->
        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>